.Heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Heading div{
    background-color: rgba(39,39,39,0.274);
    width: 30vw;
    height: 1px;
}
.Heading p{
    color: rgb(77,77,77);
    margin: 3vmax;
    font-size: 2.5vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 10;
}